<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/sun.small.cloud.png">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="sticky-footer">
    {{>header}}
    <p>
    <img class="pic" src="/Node.js_logo.svg">
    </p>
    </div>
    {{>footer}}
</body>

</html>