<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/sun.small.cloud.png">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="sticky-footer">
    {{>header}}
    <p>Please contact your site admin</p>
    </div>
    {{>footer}}
</body>

</html>