<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/sun.small.cloud.png">
    <link rel='stylesheet' href='/styles.css'>
<body>
    <div class="sticky-footer">
    {{>header}}
    <p>Page not found!</p>
    </div>
    {{>footer}}
</body>

</head>

</html>